
.header {
background-color: cyan;
padding: 10px;
text-align: center;
}

.container {
float: right;
width: 100px;
height: 50px;
padding-top: 10px;
display: inline-block;
}

.btn {
font-size: 20px;
}

.middle {
background-image: url('https://github.com/AnAlgorithm/cubewebsite/blob/gh-pages/images/cubeach2.png');
padding-top: 275px;
padding-bottom: 275px;
padding-right: 350px;
padding-left: 350px;

text-align: center;
opacity: 0.9;
color: white;
background-size: cover;
}

.content {
padding: 25px;
background-color: black;
opacity: 0.8;
color: white;
}

.wrapper1 {
padding: 50px;
text-align: center;
background-color:pink;
opacity: 0.98;
font-size: 17px;
}

.wrapper2 {
padding: 50px;
text-align: center;
background-color:#00ccff;
opacity: 0.98;
font-size: 17px;
}

.wrapper3 {
padding: 50px;
text-align: center;
background-color:#00ff66;
opacity: 0.98;
font-size: 17px;
}

.footer {
 padding: 15px;
 font-size: 20px;
 background-color: #00ffaa;
 text-align: center;
}

body {
 border: 10px solid black;
 font-family: consolas;
}

.paragraph-list {
 font-size: 18px;
}

ol li {
 padding: 0px;
}

.styled-table {
 border-collapse: collapse;
 margin: 25px;
 font-size:20px;
 min-width: 400px;
 box-shadow: 0 0 20px rgba(0,0,0,.13);
}

thead tr {
 background-color: #009970;
 color: white;
 text-align: center;
}

th,td {
 padding: 12px 15px;
}

tr {
 border-bottom: 1px solid #dadada;
}

tr: nth-of-type(even) {
 background-color: #f9f9f9;
}

tr: last-of-type {
 border-bottom: 2px solid #009970;
}

/* Active row */
tr:hover {
 font-weight: bold;
 color: #ffffff;
 background-color: 007099;
}

nav {
 float: right;
}

nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li {
 display: inline-block;
 margin-left: 64px;
 margin-top: 4px;
 padding-top: 6px;
 padding-bottom: 6px;
 padding-left: 6px;
 padding-right: 6px;
 position: relative;
}

nav a {
 color: #202020;
 text-decoration: none;
 text-transform: none;
 font-size: 25px;
}

nav a:hover {
 color: #007099;
}

nav a::before {
 content: ";
 display: block;
 height: 5px;
 background-color: #202020
 position: absolute;
 top: 0;
 width: 0%;
 transition: all ease-in-out 250ms;
}

nav a:hover::before {
 width: 100%;
}

.active {
 background-color: #008080;
 color: #ffffff;
}
